.newsletter{
    width: 65%;
    height: 45vh;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    /* border: 2px solid black; */
}

.newsletter h1{
    font-size: 44px;
    font-weight: 600;
    color: #454;
}

.newsletter p{
    font-size: 20px;
    color: #454445;
}

.newsletter div{
    width: 730px;
    height: 50px;
    display: flex;
    /* gap: 10px; */
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
    /* border: 2px solid black; */
}

.newsletter input{
    width: 500;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 80px;
    margin-left: 30px;
    color: #616161;
    font-family: poppins;
}

.newsletter div button{
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 80px;
}

