.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    font-size: 38px;
    font-weight: 600;
    color: #171717;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #626262;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.nav-menu hr{
    width:80%;
    border: none;
    height: 3px;
    background-color: #ff417d;
    border-radius: 10px;
}
   .nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 107px;
    height: 38px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background-color: #f3fff3;   
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: -35px;
    margin-left: -55px;
    background: red;
    color: white;
    
}

