.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    width: 90px;
    height: 50px;
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;

}
.footer-links{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    color: #252525;
}
.footer-links li{
    cursor: pointer;
    font-size: 16px;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
    
}
.footer-social-icon img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebee;
}
.footer-copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    width: 100%;
    color: #1a1a11;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

